<!DOCTYPE html>
<html>
<head>
    <title>To-Do Page</title>
    <script src="{{ url_for('static', filename='todo.js') }}"></script>
</head>
<body>
    <h1>Create a To-Do Item</h1>

    <form id="todoForm">
        <label>Item Name:</label>
        <input type="text" name="itemName"><br><br>

        <label>Item Description:</label>
        <input type="text" name="itemDescription"><br><br>

        <button type="submit">Submit</button>
        <label>Item ID:</label>
        <input type="text" name="itemId"><br><br>

    </form>
</body>
</html>
